.settings-button-redirect {
    position: relative;
    background-color: #4f46e5;
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    font-weight: 500; 
    border: none; 
    border-radius: 25px; 
    padding: 15px 20px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
  }

.settings-button-redirect:hover {
    background-color: #6366f1; 
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  }
  
  .settings-button-redirect:active {
    transform: scale(0.95); 
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); 
  }

.allbuttons-container-settingspage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background-color: #ffffff;
}